<navbar></navbar>
<div class="container">
<b>Solved Questions:</b>
<ul class="list-group">
<li class="list-group-item" ng-repeat="question in solvedQuestions">
    <b>{{question.question}}</b><br />
    {{question.answer}}
</li>
</ul>
<br />	<font color="red"><b>{{wrong}}</font>
	<font color="green">{{correct}}</b></font><br />
<div class='nq'>
<b>Next Question:<br /></b>
<div style="margin-left: 30px">
	<h3>{{nextQuestion}}</h3>
	<br /><div class="col-xs-7"><input type="text" ng-model="answer" class="form-control input-sm"></div>
	<button class="btn btn-inverse btn-sm btn-login" type="submit" ng-click="subAns()">Submit answer</button>

</div>
</div>
<div class="nnq" style="display: none;">
	<h3>All questions solved!</h3>
</div>
<footer></footer>
