<navbar></navbar>

<div ng-if="disqualified" class="container">
	<div class="alert alert-danger">
		<p class="text-center"><b>You have been disqualified by the admin due to your unfair activities!</b></p>
		<p class="text-center">Please contact <a href="mailto:tidbits@shaastra.org">tidbits@shaastra.org</a> for further details.</p>
	</div>
</div>

<div ng-show="!disqualified" class="container">
	<div class='jumbotron nq'>
		<h3><u><b>Next Question:</b></u></h3>
		<div>
			<div v-html="input | marked" ng-bind-html="xmark(nextQuestion)"></div>
			<br />
			<div ng-if="nextQuestionDisplayHints">
				<button ng-if="!showHintsCheck" class="btn btn-primary btn-sm btn-login" type="button" ng-click="showHints()">Show Hint(s)</button>
				<div ng-if="showHintsCheck">
					<h3><u><b>Hint(s): </b></u></h3>
					<span class="text-muted"><div v-html="input | marked" ng-bind-html="xmark(nextQuestionHints)"></div></span>
				</div>
			</div>
			<br />
			<div class="col-xs-6">
				<input type="text" ng-model="answer" class="form-control input-sm">
			</div>
			<button class="btn btn-primary btn-sm btn-login" type="button" ng-click="subAns()">Submit answer</button>
		</div>
	</div>
	<br />	
	<font color="red"><b>{{wrong}}</font>
	<font color="green">{{correct}}</b></font><br />

	<div class="nnq" style="display: none;">
		<h3>All questions solved!</h3>
	</div>

	<h2><u><b>Solved Questions:</b></u></h2>
	<div class="list-group">
		<a href="" class="list-group-item" ng-repeat="question in solvedQuestions track by $index">
    	<h4 class="list-group-item-heading"><u><b>Question - {{ $index+1 }}</b></u></h4>
    	<p><span v-html="input | marked" ng-bind-html="xmark(question.question)"></span></p>
    	<h4 class="list-group-item-heading"><u><b>Answer - {{ $index+1 }}</b></u></h4>{{question.answer}}
		</a>
	</div>

</div>

<footer></footer>
