.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.heading {
  font-family: 'Feather';
  text-align: center;
  letter-spacing: 2px;
}
.heading h1 {
  font-size: 5em;
}

.instructions {
  font-family: 'Proxima';
  background-color: #ffffff;
  padding: 20px 0 50px 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  width: 75%;
}

.font-5 {
  font-size: 0.4em;
}